<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA802eD47ozzXt3kPFotNUxcRx69Rdl8RU</string>
	<key>GCM_SENDER_ID</key>
	<string>991357424790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haathbarhao.app.haathbarhaoMobile</string>
	<key>PROJECT_ID</key>
	<string>haathbarhao</string>
	<key>STORAGE_BUCKET</key>
	<string>haathbarhao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991357424790:ios:18a75c35a3cc950c6a9eb7</string>
</dict>
</plist>